.header {
    background-color: #498cda;
    color: white;
    text-align: center;
    padding: 15px;
}
.content {
    padding: 20px;
}
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fit-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fit-center img {
    max-width: 100%;
    height: auto;
}
